<div class="container">
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Add a cocktail", new_cocktail_path(@cocktail), class: "btn btn-danger"%>

